    /*
    Flaticon icon font: Flaticon
    Creation date: 29/11/2018 15:02
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-bars:before { content: "\f100"; }
.flaticon-wallet:before { content: "\f101"; }
.flaticon-money-bag:before { content: "\f102"; }
.flaticon-bank:before { content: "\f103"; }
.flaticon-wallet-1:before { content: "\f104"; }
.flaticon-euro:before { content: "\f105"; }
.flaticon-credit-card:before { content: "\f106"; }
.flaticon-chart:before { content: "\f107"; }
.flaticon-strongbox:before { content: "\f108"; }
.flaticon-coins:before { content: "\f109"; }
.flaticon-money:before { content: "\f10a"; }
.flaticon-note:before { content: "\f10b"; }
.flaticon-shield:before { content: "\f10c"; }
.flaticon-mobile-phone:before { content: "\f10d"; }
.flaticon-exchange:before { content: "\f10e"; }
.flaticon-yens:before { content: "\f10f"; }
.flaticon-project-management:before { content: "\f110"; }
.flaticon-mortarboard:before { content: "\f111"; }
.flaticon-growth:before { content: "\f112"; }
    
    $font-Flaticon-bars: "\f100";
    $font-Flaticon-wallet: "\f101";
    $font-Flaticon-money-bag: "\f102";
    $font-Flaticon-bank: "\f103";
    $font-Flaticon-wallet-1: "\f104";
    $font-Flaticon-euro: "\f105";
    $font-Flaticon-credit-card: "\f106";
    $font-Flaticon-chart: "\f107";
    $font-Flaticon-strongbox: "\f108";
    $font-Flaticon-coins: "\f109";
    $font-Flaticon-money: "\f10a";
    $font-Flaticon-note: "\f10b";
    $font-Flaticon-shield: "\f10c";
    $font-Flaticon-mobile-phone: "\f10d";
    $font-Flaticon-exchange: "\f10e";
    $font-Flaticon-yens: "\f10f";
    $font-Flaticon-project-management: "\f110";
    $font-Flaticon-mortarboard: "\f111";
    $font-Flaticon-growth: "\f112";